div.bloc1{
	background-color: red;
	height: 200px;
	width: 150px;
	float: left;
	margin: 10px;
	border-radius: 10px;
}

div.bloc2{
	background-color: pink;
	height: 200px;
	width: 150px;
	float: left;
	margin-left: 20px;
	margin: 10px;
}

div.bloc3{
	background-color: green;
	height: 200px;
	width: 150px;
	float: left;
	margin-left: 20px;
	margin: 10px;
	clear: both;
}